@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.active{
    color: #CE00FF;
    background: #FEF7FF;
}  
  th, td {
    text-align: left;
    padding: 8px;
}
.marginbottom{
    margin-bottom: 20px !important;
}
